div.current {
  display: block;
}

input {
  margin: 0.5rem 0;
  width: 100%;
}

nav a.current {
  border-color: var(--accent);
  color: var(--accent);
}

.code {
  height: 100px;
  margin: 0.5rem 0;
  width: 100px;
}

.hidden, .tag, .template {
  display: none;
}

@media print {
  h5 {
    margin: 1rem 0;
  }

  header, input[type=button] {
    display: none;
  }

  input {
    border: 0;
    outline: none;
    padding: 0;
  }

  #competition, #eggs, #hunters {
    display: block;
  }
}
